<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{page}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="uploading" *ngIf="inUpload">
          <progress id="progressbar" max="100" value="{{ uploadPercent }}"> </progress>
          <div id="progressbarlabel">{{ uploadPercent }} %</div>
          <div *ngIf="inUpload" id="progressbarlabel"><span *ngIf="inUpload && !inProgress">Aguarde...</span><span
              *ngIf="inUpload && inProgress">Enviando vídeo...</span></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div class='input-wrapper' *ngIf="!inUpload && !isGallery">
          <button ion-button block (click)="onRecordVideoFTP()" [disabled]="isEnviando" color="secondary">
            <ion-icon slot="primary" name="videocam" class="icon-left"></ion-icon> Gravar Vídeo
          </button>
        </div>
        <div class='input-wrapper' *ngIf="!inUpload && isGallery">
          <button ion-button block (click)="selectVideoFTP()" [disabled]="isEnviando" color="secondary">
            <ion-icon slot="primary" name="folder" class="icon-left"></ion-icon> Selec. Galeria
          </button>
        </div>
        <div class='input-wrapper' *ngIf="inUpload && inProgress">
          <button ion-button block class="bt-cancel" (click)="uploadCancelFTP()"
            [disabled]="isCancel">{{btn_cancelar}}</button>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class='input-wrapper'>
          <button ion-button block (click)="sendVideoFTP()" [disabled]="!isSelecionado"> Enviar </button>
          <button ion-button block (click)="transcoderVideo()" [disabled]="!isSelecionado"> Transcoder </button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!--  <progress-bar [progress]="total"></progress-bar> -->
</ion-content>
