<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="!footerIsHidden">
      <ion-icon name="icone-logo"></ion-icon>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCheckbox()">
        <ion-icon name="flag"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content class="fundo" padding>
  <div style="margin-top: 15px;">
    <ion-card class="fundo" style="text-align: center" *ngIf="footerIsHidden">
      <img src="assets/imgs/logo_home_blanc.svg" style="height: 90px" />
      <ion-card-content>
        <ion-card-title>
          {{title}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <form id="home-form1" [formGroup]="signupform">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-input (click)="setFocusField()" type="text" #input placeholder="{{placeholder}}"
                  [(ngModel)]="codeNumber" formControlName="codeNumber" name="code"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-12 class="info-servico">
              <button id="home-button1" class="btn-home" ion-button block icon-left (click)="pushPage()"
                [disabled]="signupform.invalid">
                <ion-icon name="navigate"  slot="start" class="icon_btn_home"></ion-icon>
                {{button}}
              </button>
              <div style="text-align: center;margin-top: 15px;">
                <button class="btn-qrcode" ion-button round outline color="primary" (click)="pushPage('qrcode')" style="margin: auto;width: 100%; border-color: #0071f8; color: #0071f8;" >
                  <ion-icon slot="start" name="md-qr-scanner" style="margin-right: 7px;"></ion-icon>  {{scanqr}}
                  
                </button>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </form>

  </div>
</ion-content>
<!-- CONTENT -->
<!-- FOOTER -->
<ion-footer *ngIf="footerIsHidden">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div class="adquire-code" (click)="pushPagePesquisa()">
            <span class="title-share icon-search"><img class="icon-search" src="../../assets/imgs/search-btn.png"></span>
          </div>
        </ion-col>
        <ion-col col-1>
          |

        </ion-col>
        <ion-col col-4>
          <div class="adquire-code" (click)="shopcode()">
            <span class="title-share">{{adquira}}</span>
          </div>

        </ion-col>
        <ion-col col-1>
          |

        </ion-col>
        <ion-col col-3>
          <div class="adquire-code" (click)="pushPageCode('connect')">
            <span class="title-share">CONNECT</span>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>
<!-- FOOTER -->