page-modelo {
  //   estilos da galeria
  .menu_apps {
    font-size: xx-large;
    color: #eeff00f5;
  }

  .gallery-view {
    .image-container {
      padding: 10px;
      display: flex;
      //   justify-content: space-between;
      flex-wrap: wrap;

      .thumb-item {
        flex: 1 0 27%;
        width: 50px;
        height: auto;
        text-align: center;
        line-height: 12px;
        padding: 7px;
      }

      .thumb-item {
        .title-item {
          display: block;
          font-size: 10px;
          margin-top: 7px;
        }
      }

      .item-avatar {
        margin: auto;
        padding: 10px;
        background: salmon;
        border-radius: 50%;
        font-size: 30px;
        display: table;
      }
      .icon-avatar {
        width: 60px;
        height: 60px;
        font-size: 50px;
        display: table-cell !important;
        vertical-align: middle;
      }
      .icon-tools {
        width: 30px;
        height: 30px;
        font-size: 10px;
        display: table-cell !important;
        vertical-align: middle;
      }
      .content-itens {
        text-align: center;
      }
    }
  }
  // style icones only
  .icon-only-round {
    padding: 10px;
    background-color: darkorange;
    border-radius: 50%;
    color: floralwhite;
    font-size: x-large;
    float: right;
    position: relative;
    bottom: 10px;
  }
  .icon-only-left {
    // background-color: darkorange;
    color: #cc8b09;
    font-size: 40px;
    position: relative;
    bottom: 10px;
    float: left;
  }
  .editor-header {
    text-align: center;
  }
  .dec_channel {
    font-size: large;
  }

  .container {
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;
  }
  .custom-thumbnail {
    border-radius: 7px;
    border: solid 1px;
    width: 80px;
    padding-bottom: 70px;
  }

  .container img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    height: auto;

    max-height: none;
    max-width: 150px;

    min-height: 20%;
    min-width: 20%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .edit_photo {
    font-size: xx-large;
    color: #000;
    padding: 5px;
    background: #ffffffb5;
    border-radius: 15px;
    position: absolute;
    bottom: 0px;
    right: 3px;
  }
  input.text-input.text-input-md {
    font-size: x-large;
    text-transform: uppercase;
    text-align: center;
  }
  .minhaDiv {
    width: 50%;
  }
  .header_thumbs {
    display: flex;
    padding: 15px;
  }
}
