<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{page}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (keyup)="onSearchInput()"
    placeholder="{{campo}}"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-list class="list-cidade" *ngFor="let item of codes">
    <ion-item (click)="pushPage(item.code)">
      <div class="header_thumbs">
        <div [ngStyle]="{'background-image': 'url('+ item.card +')'}"
          class="thumbs-list item item-thumbnail-left custom-thumbnail">
        </div>
        <div class="field_text" style="max-width: 97%">
          <p><strong>{{ item.code | slice:0:15}}</strong> - {{item.titulo | slice:0:15}}</p>
          <p style="white-space: normal;">{{item.resume | slice:0:40}}<span
              *ngIf="item.descricao.length > 40">...</span></p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>